@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6F6;
  color: #0F1F1C;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-right{
  padding-left: calc((100% - 1270px)/2 + 15px);
}

    /* header */

.header {
  overflow: hidden;
  position: relative;
  padding-top: 44px;
  min-height: 940px;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}

.header a {
  color: #fff;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(./../img/header/header-bottom.svg);
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}

    /* nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
  z-index: 1;
  position: sticky;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-weight: 500;
  font-size: 15px;
}

.nav__login {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  column-gap: 25px;
}

.humburger{
  display: none;
  cursor: pointer;
}

.ham{
  display: block;
  width: 35px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px 0px;
  border-radius: 10px;
}

.logo {
  cursor: pointer;
}

.list {
  position: relative;
}

.list:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
  opacity: 0.5;
}

.list:hover:after {
  transform: scaleX(1);
}

    /* header__row*/

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
  z-index: 1;
}

.header__badge {
  margin-bottom: 7px;
  display: inline-block;
  padding: 11px 30px;
  font-weight: 500;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: #fff;
}

.header__title {
  font-weight: 400;
  font-size: 55px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.header__text {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 68px;
}

.header__btn {
  font-weight: 600;
  font-size: 25px;
}

.header__img {
  position: relative;
}

.header__img img {
  z-index: 0;
  position: absolute;
  top: -170px;
  left: -116px;
  max-width: unset;
  width: 894px;
  height: 940px;
}

.header__img::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -150px;
  width: 830px;
  height: 622px;
  background-image: url(./../img/header/header-elements.svg);
  pointer-events: none;
}

    /* Destinition */

.destinations {
  padding: 96px 0px 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

 .destinations__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 55px;
  color: #0F1F1C;
 }

 .destinations__title span{
  font-size: 30px;
 }

 .destinations__text {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 23px;
  color: rgba(15, 31, 28, 0.5);
 }

 .destinationas__btn {
  font-weight: 600;
  font-size: 20px;
  color: #FEFEFE;;
 }

 /* slider */

 .slider {
  position: relative;
 }

 .slider__item {
  margin: 28px 0px 28px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  transition: 0.2s ease-in;
 }

 .slider .center .slider__item{
  margin: 0;
  width: 380px;
  height: 456px;
 }

 .slider__btn {
  position: absolute;
  top: 50%;
  z-index: 9;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  width: 68px;
  height: 68px;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
  border-radius: 34px;
 }

 .slider__btn--prev {
  left: 1px;
  justify-content: flex-start;
  padding-left: 26px;
 }

 .slider__btn--next {
  right: 1px;
  justify-content: flex-end;
  padding-right: 26px;
 }

 /* Customers */

.customers {
	padding: 100px 0 133px;
}

.customers__row {
	display: flex;
	column-gap: 68px;
}

.customers__img {
	max-width: 478px;
}

.customers__img img {
	border-radius: 60px;
}

.customers__title {
	margin-bottom: 35px;
	font-size: 45px;
	font-weight: 500;
}

/* Footer */

.footer {
  padding: 56px 0 74px;
}

.footer a {
  color: rgba(15, 31, 28, 0.5);
}

/* Buttons */

.btn {
display: inline-block;
padding: 25px 45px;
  color: #fff !important;

background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
border-radius: 27px;

font-size: 20px;
font-weight: 600;
}

.btn:hover {
color: rgb(245, 233, 127) !important;
transition: color 0.2s ease-in;
}

.btn:active {
position: relative;
top: 1px;
}

.btn--login {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
}

.btn--header {
  padding: 27px 48px;
  font-size: 25px;
}

.btn--subscribe {
padding: 36px 86px;
font-size: 25px;
border-radius: 35px;
}

/* Media */

@media ( max-width:1270px ) {
  
  .container-right {
    padding-left: 15px;
  }

}
@media (max-width: 1200px) {

	.destinations__slider {
		width: 900px;
	}

}

@media ( max-width:1000px ) {

  .nav__list {
    display: none;
  }

  .nav__login {
    display: none;
  }
  
  .humburger{
    display: block
  }

  .humburger.active .ham:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 6px); 
  }

  .humburger.active .ham:nth-child(2){
    opacity: 0;
  }

  .humburger.active .ham:nth-child(3){
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav__menu {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    z-index: 99;
    background: linear-gradient(304deg, #428E5F -17.38%, #112120 78.4%), #204434;
    padding: 40px 0px 40px 0px;
  }

  .nav__menu .logo {
    font-size: 34px;
  }

  .nav__menu .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 20px;
  }

  .nav__menu .nav__login {
    display: flex;
    align-items: center;
  }

  .nav__menu .humburger {
    position: fixed;
    top: 50px;
    right: 50px;
  }

  .header__img img {
    left: -440px;
    position: static;
  }
  
  .header__img::after {
    left: -50px;
  }
}
@media (max-width: 850px) {
	.container-right {
		padding-right: 15px;
	}

	.header {
		padding-top: 20px;
		min-height: unset;
	}

	.header__top {
		margin-bottom: 40px;
	}

	.header__row {
		flex-direction: column;
	}
	.header__img img {
		position: static;
		width: 70%;
		height: auto;
	}

	.header__img::after {
		top: 100px;
		right: 0px;
	}

	.header__title {
		margin-bottom: 20px;
		font-size: 35px;
	}

	.header__text {
		max-width: 400px;
		margin-bottom: 40px;
		font-size: 20px;
	}

	.header__badge {
		margin-bottom: 5px;
		padding: 8px 20px;
		font-size: 16px;
		border-radius: 10px;
	}

	.btn--header {
		padding: 20px 30px;
		font-size: 20px;
		border-radius: 18px;
	}

	.destinations {
		padding: 40px 0 50px;
	}

	.destinations__row {
		flex-direction: column;
		row-gap: 30px;
	}

	.destinations__slider {
		width: 100%;
	}

	.slider__btn--prev {
		left: -15px;
	}
	.slider__btn--next {
		right: -15px;
	}

	.destinations__title {
		margin-bottom: 10px;
		font-size: 35px;
	}

	.destinations__title span {
		font-size: 20px;
		display: block;
	}

	.destinations__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.btn {
		padding: 20px 35px;
		border-radius: 20px;
		font-size: 18px;
	}

	.btn--login {
		padding: 13px 44px;
		font-size: 15px;
		font-weight: 500;
		border-radius: 100px;
	}

	.customers {
		padding: 50px 0 60px;
	}

	.customers__row {
		column-gap: 30px;
	}

	.customers__title {
		margin-bottom: 25px;
		font-size: 35px;
	}

	.review__client {
		column-gap: 30px;
		margin-bottom: 20px;
	}

	.review__client-avatar {
		width: 80px;
		height: 80px;
	}

	.review__client-desc-name {
		margin-bottom: 5px;
		font-size: 23px;
	}

	.review__client-desc-country {
		font-size: 18px;
	}

	.review__text {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.review__rating {
		max-width: 200px;
	}

	.customers__img img {
		max-width: 250px;
		border-radius: 40px;
	}

	.cta {
		padding: 50px 0;
	}

	.cta__title {
		font-size: 35px;
		margin-bottom: 20px;
	}

	.cta__text {
		margin-bottom: 30px;
		font-size: 20px;
	}

	.cta__plate {
		min-height: 380px;
		padding: 20px 15px;
		border-radius: 40px;
	}

	.subscribe {
		padding: 25px 0 30px;
	}

	.subscribe__title {
		margin-bottom: 30px;
		font-size: 35px;
	}

	.subscribe-form {
		padding: 10px 10px 10px 20px;
		border-radius: 25px;
		column-gap: 10px;
	}

	.subscribe-form__input {
		font-size: 20px;
	}

	.nav__login--footer {
		display: none;
	}
}


@media (max-width: 640px) {
	.customers__row {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

@media (max-width: 600px) {
	.nav--footer {
		flex-direction: column-reverse;
		row-gap: 30px;
	}
}

@media (max-width: 460px) {
	.customers__img img {
		max-width: 100%;
	}

	.subscribe-form {
		padding: 10px;
		flex-direction: column;
		row-gap: 10px;
	}

	.subscribe-form__input {
		padding: 15px 0;
		text-align: center;
		background-color: #f0f0f0;
		border-radius: 20px;
		font-size: 18px;
	}

	.nav__list--footer {
		flex-direction: column;
		row-gap: 15px;
		align-items: center;
	}
}

@media (max-width: 460px) {
	.nav--mobile .nav__toggle {
		top: 20px;
		right: 15px;
	}

	.nav--mobile .nav__list,
	.nav--mobile .nav__login {
		row-gap: 20px;
	}
}